/*样式重置*/
html,body{
	width: 100%;
	overflow-x:hidden;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
body,div,p,h1,h2,h3,img,button，ul{
	margin: 0;
	padding: 0;
	border: none;
	font-family:"Microsoft Yahei";
	color: #000;
	display: block;
}

 a{
 	display: inline-block;
 	text-decoration: none;
 	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
 }
 a:link{text-decoration:none;}
 a:hover{text-decoration:none;}
 a:visited{text-decoration:none;}
 a:active{text-decoration:none;}
ul,li{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
input{
	-webkit-appearance:none;
    -webkit-tap-highlight-color:rgba(255,0,0,0);
    }
a,button,input,textarea{
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
